.history {
    background-color: #ffffff;
}

.select{
    margin: 0 30px 30px;
}

.form{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}


.text{
    margin: 0 50px 50px;
}

.formbutton{
    margin: 0 0 100px 100px;
}
